@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

h1 {
    text-align: center;
    font-family: "Open Sans";
    margin: 0px 0px 0px 0px;
    margin-bottom: 0px;
}

#background {
    background-color: black;
}

#header {
    background: #1485c7;
    color: white;
    padding: 16px;
    transition: background 0.8s;
}

#rgb {
    font-size: 4em;
}

.strip{
    color: #1485c7;
    background: white;
    text-align: center;
}

.myCol {
    padding-bottom: 30%;
    border-radius: 50px;
    border: black 10px solid;
    transition: background 0.8s;
}

.box {
    width: 33.333%;
    padding-bottom: 30%;
    border-radius: 50px;
    border: black 10px solid;
    transition: background 0.8s;
    float: right;
}

#response {
    padding: 0 15%;
}

.container{
    padding-top: 20px;
}

button {
    background: white;
    text-color: #1485c7;
    border: 0;
}

span {
    font-weight: bold;
    background: white;
    text-color: #1485c7;
    padding: 4px;
    transition: all 0.8s;
}

span:hover {
    color: white;
    background: #1485c7;
}

.textInversion {
    color: white;
    background: #1485c7;
}

<<<<<<< HEAD
.footer {
    position: fixed;
    bottom: 0px;
}
=======

>>>>>>> parent of 29af576... added bottom levels menu
